<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Crud de clientes{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/cmxform.css') }}" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
        <script src="{{ asset('js/jquery.mask.min.js') }}"></script>
         <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        
        {% block stylesheets %}
        <style>
            .container {
                padding: 2rem 0rem;
            }
            .table-image {
                td, th {
                    vertical-align: middle;
                }
            }
        </style>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
